SHOPWARE_BASE_URL=
SHOPWARE_ADMIN_TOKEN=
SHOPWARE_STORE_ACCESS_KEY=
SHOPWARE_PREFER_LIVE_DATA=false

SHOPWARE_ADMIN_OPENAPI_FILE=./data/admin-openapi.json
SHOPWARE_STORE_OPENAPI_FILE=./data/store-openapi.json
SHOPWARE_ENTITY_SCHEMA_FILE=./data/entity-schema.json
SHOPWARE_ADMIN_ROUTES_FILE=./data/admin-routes.json
SHOPWARE_STORE_ROUTES_FILE=./data/store-routes.json
